@page
@model AppStationery.Pages_StationeryQuotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StationeryQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StationeryQuoteEdit.StationeryQuoteId" />
            <div class="form-group">
                <label asp-for="StationeryQuoteEdit.PrintingStationeryName" class="control-label"></label>
                <select asp-for="StationeryQuoteEdit.PrintingStationeryName" class="form-control" asp-items="ViewBag.PrintingStationeryId"></select>
                <span asp-validation-for="StationeryQuoteEdit.PrintingStationeryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationeryQuoteEdit.QuoteNo" class="control-label"></label>
                <input asp-for="StationeryQuoteEdit.QuoteNo" class="form-control" />
                <span asp-validation-for="StationeryQuoteEdit.QuoteNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationeryQuoteEdit.ReferenceNo" class="control-label"></label>
                <input asp-for="StationeryQuoteEdit.ReferenceNo" class="form-control" />
                <span asp-validation-for="StationeryQuoteEdit.ReferenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationeryQuoteEdit.QuotedOn" class="control-label"></label>
                <input asp-for="StationeryQuoteEdit.QuotedOn" class="form-control" />
                <span asp-validation-for="StationeryQuoteEdit.QuotedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationeryQuoteEdit.QuotePerCopyPrice" class="control-label"></label>
                <input asp-for="StationeryQuoteEdit.QuotePerCopyPrice" class="form-control" />
                <span asp-validation-for="StationeryQuoteEdit.QuotePerCopyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationeryQuoteEdit.QuotePerBookPrice" class="control-label"></label>
                <input asp-for="StationeryQuoteEdit.QuotePerBookPrice" class="form-control" />
                <span asp-validation-for="StationeryQuoteEdit.QuotePerBookPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationeryQuoteEdit.MinmumOrderQuantity" class="control-label"></label>
                <input asp-for="StationeryQuoteEdit.MinmumOrderQuantity" class="form-control" />
                <span asp-validation-for="StationeryQuoteEdit.MinmumOrderQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationeryQuoteEdit.Branch" class="control-label">Branch</label>
                <select asp-for="StationeryQuoteEdit.Branch" class="form-control" asp-items="ViewBag.BranchId"></select>
                <span asp-validation-for="StationeryQuoteEdit.Branch" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button onclick="location.href='@Url.Page("Index")'" class="btn btn-secondary">Back to List</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
